<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='session.css') }}>
    <title>Flask chat App</title>
</head>
<body>
    <h3>No message yet...</h3>
    <div class="message_holder"></div>

    <form action="" method="POST">
        <input type="text" name="username" class="username" placeholder="User Name"/>
        <input type="text" name="message" class="message" placeholder="Messages"/>
        <input type="submit" value="Send">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src={{ url_for('static', filename='session.js') }}></script>
</body>
</html>
